<ion-header>
  <ion-toolbar>
    <ion-title>
      LIST
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
     <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>

  <ion-list>

    <ion-item-sliding *ngFor="let item of todos" [class.done]="item.status">
      <ion-item lines="inset">
        <ion-label>
          {{item.task}}
          <p>{{ item.createdAt | date:'short' }}</p>
        </ion-label> 
        <ion-checkbox slot="start" [checked]="item.status" (click)="changeStatus(item)"></ion-checkbox>
      </ion-item>

      <ion-item-options side="start">
          <ion-item-option (click)="goEdit(item)" color="success">
            EDIT
          </ion-item-option>
        </ion-item-options>

      <ion-item-options side="end" >
        <ion-item-option (click)="delete(item)" color="danger">
          DELETE
          <ion-icon name="trash" slot="end"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

  
  <ion-button expand="block" routerLink="/details" routerDirection="forward">ADD</ion-button>
  

</ion-content>
